/*-- Global --*/
* {
  font-family: 'ABBvoice';
}
body, html {
  background-color: #fff;
  background-image: url("../images/bg-16px-grey.png");
  background-repeat: repeat;
}

/*-- Setup your structure here --*/

section {
  max-width: 80em;
  margin: auto;
}

figure img {
  margin: auto;
  max-width: 50em;
}

// For the demo page only:
.rounded {
  @include border-radius(0.5em);
  //background-color: rgba(33,37,43,0.75);
  padding: 1em 0px
}

.figcap {
  text-align: center;
  padding-top: 0em;
  margin: auto;
  color: #02DED5;
  font-family: 'Inconsolata-Regular';
  text-transform: uppercase;
}
.dasher {
  width: 100%;

  div {
    border: none;
    padding: 0.5em;
    margin: 2px;
    color: #000;
    font-family: 'Inconsolata-Regular';
    background: rgba(0,0,0,0.175);
    text-transform: uppercase;
    margin: 1em;
    //@include box-shadow(0px,2px,4px,0, rgba(0,0,0,0.25), false);
    @include border-radius(0.25em);
    }

    p {
      font-size: 1em;
    }
}


.innerDasher {

  div {
    border: none;
    background-color: rgba(255,255,255,0.25);
    padding: 0.5em;
    margin: 2px;

    div {
      border: none;
      background-color: rgba(255,255,255,0.25);
    }
  }
}

.innerDasher {
  padding: 0 !important;
  margin: 0 !important;
  border : 0 !important;
  background: transparent !important;
}

.abbCard-deck {
  margin-bottom: 8em;
  border: dotted 1px rgba(0,0,0,0.15);
}

.abbCard-wrapper {
  border: solid 1px rgba(0,0,0,0.05);
}

.abbCard-wrapper * {
  font-family: 'Inconsolata-Regular';
  font-size: 1.0em;
  text-transform: uppercase;
}

/*-- Documentation styling --*/

.cardDescriptions {
  background-color: rgba(0,0,0,0.05);
  @include flexbox;

  div {
    @include flex(1);
  }

  h4 {
    margin: 0.5em;
    padding: 0;
  }
}

/*-- Typography --*/
h4,h5 {
  font-weight: normal;
}

h1 {
  font-weight: bold;
  background-color: rgba(0,100,200,0.0);
}
h2 {
  font-weight: bold;
  background-color: rgba(0,100,200,0.0);
}
h3 {
  font-weight: bold;
}

p {
  font-size: 1.0em;
  margin: 2em 1em;
  background-color: rgba(0,100,200,0.0);
}

p, li {
  line-height: 1.5em;
}

header {
  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

/*-- Images --*/
img {
  display: block;
  width: 100%;
}

/*-- Buttons --*/
button {
  padding: 0.25em;
  background: transparent;
  color: #00A9FF;
  border: solid 1px #f0f0f0;
  margin: 0.25em;
}

button:hover {
  background-color: #1B1D23;
  color: #02DED5;
}

/*-- Image styling --*/

img {
  filter: grayscale(100%);
}
/*-- Prism styling --*/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fafafa;
  @include border-radius(0.5em);
  @include box-shadow(0px,2px,4px,0, rgba(0,0,0,0.25), false);
}
