/*-- Global --*/
* {
  font-family: 'Inconsolata-Regular';
}
body, html {
  background-color: #282C34;
  background-image: url("../images/bg-16px-grey.png");
  background-repeat: repeat;
}

/*-- Setup your structure here --*/

section {
  max-width: 80em;
  margin: auto;
  color: #9DA5B5;
}

figure img {
  margin: auto;
  max-width: 50em;
}

// For the demo page only:
.rounded {
  @include border-radius(0.5em);
  background-color: rgba(33,37,43,0.75);
  padding: 1em 0px;
}

.figcap {
  text-align: center;
  padding-top: 2em;
  margin: auto;
  color: #02DED5;
  font-family: 'Inconsolata-Regular';
  text-transform: uppercase;
}
.dasher {
  width: 100%;

  div {
    border: dotted 1px #00A9FF;
    padding: 0.5em;
    margin: 2px;
    color: #abd4fd;
    font-family: 'Inconsolata-Regular';
    background: rgba(0,169,255,0.15);
    text-transform: uppercase;
    margin: 1em;
    @include box-shadow(0px,2px,4px,0, rgba(0,0,0,0.25), false);
    @include border-radius(0.25em);
    }

    p {
      font-size: 1em;
    }
}


.innerDasher {

  div {
    border: dotted 1px #02DED5;
    background-color: rgba(2,222,213,0.35);
    padding: 0.5em;
    margin: 2px;
  }
}

.innerDasher {
  padding: 0 !important;
  margin: 0 !important;
  border : 0 !important;
  background: transparent !important;
}

.abbCard-deck {
  margin-bottom: 8em;
}

.abbCard-wrapper * {
  font-family: 'Inconsolata-Regular';
  font-size: 1.0em;
  text-transform: uppercase;
}

/*-- Txt --*/
h4,h5 {
  color: #DAE1EE;
  font-weight: normal;
}

h1 {
  color: #8BFFB2;
  font-weight: normal;
}
h2 {
  color: #02DED5;
  font-weight: normal;
}
h3 {
  color: #D3FFCC;
  font-weight: normal;
}

p {
  font-size: 1.0em;
  padding-top: 1.5em;
  margin: 2em;
}

/*-- Images --*/
img {
  display: block;
  width: 100%;
}

/*-- Buttons --*/
button {
  padding: 0.25em;
  background-color: #21252B;
  color: #00A9FF;
  border: solid 1px #f0f0f0;
}

button:hover {
  background-color: #1B1D23;
  color: #02DED5;
}

/*-- Image styling --*/

img {
  filter: grayscale(100%);
}
/*-- Prism styling --*/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fafafa;
  @include border-radius(0.5em);
  @include box-shadow(0px,2px,4px,0, rgba(0,0,0,0.25), false);
}
