
img, video {
	object-fit: cover;
  min-width: 100%;
}


.abbCard-deck {
  @include flex-wrap(wrap);
  display: flex;
}

.stack {
  @include flex-direction(column);
}

.no-wrap {
  @include flex-wrap(nowrap);
}



@media (min-width: 200px) and (max-width: 698px) {
  .mq .abbCard-wrapper {
    @include flex-basis(90%);
    max-width: 90%;
    background-color: #ccc;
  }
}

@media (min-width: 699px) and (max-width: 999px) {
  .mq .abbCard-wrapper {
    @include flex-basis(45%);
    max-width: 45%;
    background-color: #999;
  }
}

@media (min-width: 1000px) {
  .mq .abbCard-wrapper {
    background-color: #000;
  }
}



/*
.abbCard-wrapper {
  max-width: 480px;
  min-width: 280px;
}


@media (min-width: 900px) {
  .abbCard-wrapper {
    min-width: 400px;
    max-width: 500px;
  }
}

@media (min-width: 800px) {
  .abbCard-wrapper {
    min-width: 280px;
    max-width: 480px;
  }

  .abbCard-deck {
    @include flex-wrap(no-wrap);
  }
}
*/
